<section class="m-entity o-teaser-section">
    <div class="grid justify-center">
        <div class="col-sm-12">
            <div class="o-teaser-section__inner">
                {% for teaser in post.get_field("teaser_section") %}
                    {% if teaser['type_of_teaser'] == "custom"  %}
                        {% include "/molecules/teaser.twig" with {
                            teaser: teaser,
                            type: 'teaser',
                            imageMaxWidth: 400,
                            imageMaxHeight: 400,
                            imageWidths: [
                                {
                                size: 400,
                                imageWidth: 400,
                                imageWidth2x: 800
                                },
                                {
                                size: 800,
                                imageWidth: 800,
                                imageWidth2x: 1600
                                },
                            ]
                        } %}
                    {% elseif teaser['type_of_teaser'] == "reference" %}
                        {% include "/molecules/teaser.twig" with {
                        teaser: teaser["teaser"],
                        type: 'teaser',
                        imageMaxWidth: 400,
                        imageMaxHeight: 400,
                        imageWidths: [
                            {
                            size: 400,
                            imageWidth: 400,
                            imageWidth2x: 800
                            },
                            {
                            size: 800,
                            imageWidth: 800,
                            imageWidth2x: 1600
                            },
                        ]
                        } %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>