/**
 * ----------------------
 * Un.titled
 * Molecules - Social links
 * ----------------------
 */

/**
 * Styling
 */
.m-social-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  @include media('<xxs') {
    grid-template-columns: repeat(4, 1fr);
  }

  .m-nav__social & {
    grid-template-columns: repeat(6, 1fr);
  }

  a {
    // @include linkReset;
    display: block;
    padding: 0.5rem;
    height: 35px;
    width: 35px;

    span {
      display: none;
      visibility: hidden;
    }

    svg {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    path {
      transition: 0.2s var(--transition);
      fill: var(--c-white);
    }

    &:hover {
      path {
        fill: var(--c-pink);
      }
    }
  }
}
