<aside class="m-emmsg" aria-label="Sitewide message">

  {{ options.message }}
  
  <button 
    class="m-emmsg__close"
    title="Hide message"
    aria-label="Close emergency message"
    type="button"
  >
    {% include "img/close.svg" ignore missing %}
  </button>

</aside>
