{% extends "/layout/base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}} " id="post-{{post.ID}}" data-template="page-landing.twig">

    {% include "/molecules/banner.twig" %}

    <h1>{{ post.title }}</h1>
    
    {% for block in blocks %}
      {{ block }}
    {% endfor %}

	</article>
{% endblock %}
